<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/bai2.css">
</head>
<body>
	<div class="mot">
		<div class="text">
			Được mệnh danh là "ông vua kim hoàn" nổi tiếng nhất nhì đất Mỹ, Johnny Đặng ở hiện tại đang tận hưởng một cuộc sống siêu giàu cùng vợ con. Luôn xuất hiện với hình ảnh đeo trang sức đắt tiền trên người, vậy nên triệu phú kim cương này bắt buộc phải có người bảo vệ cạnh bên.
			<br>
			Mới đây, khi vô tình có mặt trong đoạn buổi livestream gặp gỡ Johnny Đặng của Khoa Pug, vệ sĩ của triệu phú kim cương đã có hành động khiến cư dân mạng chú ý. Cụ thể là khi mọi người đang di chuyển trên đường và trò chuyện cùng nhau, khi có người lạ xuất hiện, cảm giác rằng vị tỷ phú có thể sẽ gặp nguy hiểm. Người vệ sĩ này đã nhanh chóng tiến về phía trước để che chắn cho chủ của mình.
		</div>
		<div class="img">
			<img src="../images/1.jpeg" width="600px" height="400px">
		</div>

	</div>
	<div class="hai">
		<div class="img">
			<img src="../images/2.jpg"width="600px" height="400px">
		</div>
		<div class="text">
			Bộ trang phục được cắt may cầu kì bao gồm váy và áo choàng mỏng bên ngoài, đính kết vô vàn những chuỗi vòng, chuỗi hạt đặc trưng khiến Bành Tiểu Nhiễm trở thành nàng đại mỹ nhân trên sa mạc lộng gió. Không cần trang điểm đậm nét, sắc sảo, vẻ đẹp mà nữ diễn viên mang đến vừa nhẹ nhàng, tự nhiên lại vừa chân thực, sống động.
			Dẫu khả năng diễn xuất của Cúc Tịnh Y vẫn còn vấp phải khá nhiều tranh cãi nhưng vẻ đẹp của nàng "Mỹ nhân 4000 năm" bên trang phục cổ trang đỏ quả thực đẹp miễn bàn. Trang phục tân nương cầu kì được Cúc Tịnh Y tôn lên vẹn toàn, đẹp theo cách vừa truyền thống lại rất đỗi hiện đại.
			Tạo hình của Cúc Tịnh Y trong Như Ý Phương Phi vẫn luôn là 1 trong những tạo hình đẹp nhất trong loạt phim cổ trang cô từng đóng. Lối trang điểm quen thuộc: lông mày ngang, son môi đỏ của nữ diễn viên khi đi cùng trang phục cổ trang thực sự lôi cuốn, xinh đẹp khiến người ta không thể rời mắt.
		</div>
	</div>
</body>
</html>