<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/bai3.css">
</head>
<body>
	<h3>Ánh Nắng</h3>
	<div class="vatlieu">
		<div class="a">
			<h4>I.Vật Liệu</h4>
		</div>
	<div class="b">
		<ul>
		<li>-01 Lá Thiên tuế</li>
		<li>-03 Thược Dược</li>
		<li>-một bó hoàng điệp</li>
		<li>-Lá Dương sĩ nhuyễn</li>
	</ul>
	</div>
	<div class="c">
		<img src="../images/3.jpg" width="200px" height="100px">
	</div>
	</div>
	<h4>II.Cách Cắm</h4>
	<span>-Cắt 1/2 lá thiên tuế, uốn cong cắm nốihai để gim, 1 đầu là cột với một góc cây để gim vài cái dễ dang:<br> </span>
	<span>-Hoàng điệp cắm tỏa đều, tâm điểm là hai thược dược<br></span>
	<span>-Góc còn lại cắm 1 thược dược</span>
</body>
</html>