<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<table>
		<tr>
			<td>
				<font face="Vardana" color="#ff0000" size="2"><b><a href="../layout/bai3.html"> Chủ đề1: Ánh nắng</a></b></font>
			</td>
		</tr>
		<tr>
			<td>
				<font face="Vardana" color="#ff0000" size="2"><b><a href="../layout/bai4.html"> Chủ đề2: Chớm xuân</a></b></font>
			</td>
		</tr>
		<tr>
			<td>
				<font face="Vardana" color="#ff0000" size="2"><b><a href="../layout/bai5.html"> Chủ đề3: Khoảng Cách</a></b></font>
			</td>
		</tr>
	</table>
</body>
</html>